{% extends "base.html" %}


{% block start %}
<div class="container mt-5">

    <form action="" class="mb-4">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <input name="search" type="text" class="form-control" id="inputSearch" placeholder="Search Recipe">
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <table class="mx-auto shadow-lg">
        <tr>
            <th>Sr No</th>
            <th>Student Name</th>
            <th>Student ID</th>
            <th>Department</th>
            <th>Age</th>
            <th>Email ID</th>
            <th>Address</td>
        </tr>
        {% for student in students %}
            <tr> 
                <th>{{forloop.counter}}</th>
                <td>{{student.student_name}}</td>
                <td>
                    <a href="see_marks/{{student.student_id}}">{{student.student_id}}</a>
                    
                </td>
                <td>{{student.department}}</td>
                <td>{{student.student_age}}</td>
                <td>{{student.student_email}}</td>
                <td>{{student.student_address}}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination pt-2 mx-auto">
            <span class="step-links">
                {% if students.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ students.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ students.number }} of {{ students.paginator.num_pages }}.
                </span>

                {% if students.has_next %}
                    <a href="?page={{ students.next_page_number }}">next</a>
                    <a href="?page={{ students.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
    </div>
</div>

{% endblock %}